n8n_data/daily_report_reminder_workflow.json
{
  "name": "Daily Report Reminder Workflow (6:00 PM)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 18 * * *"
            }
          ]
        }
      },
      "id": "c621d960-9ff9-497d-bf3b-9e4eb5cc832c",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        380,
        240
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, person_name, person_phone, whatsapp_group_id, report_types, task_notes FROM sunfra_unified_reminders WHERE frequency = 'daily'"
      },
      "id": "e5c24b91-1fa1-460d-85fa-7fcf39a3ff95",
      "name": "Fetch Expected Reminders",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        600,
        140
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, shead_name, category, notes, sender, group_name, processed_time FROM sunfra_processed_data WHERE DATE(processed_time) = CURDATE()"
      },
      "id": "fb4f8ad2-1111-4444-8888-7fcf39a3ff96",
      "name": "Fetch Processed Data",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        600,
        280
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, sender, group_name, raw_text, timestamp FROM sunfra_raw_messages WHERE DATE(timestamp) = CURDATE()"
      },
      "id": "d04a3ad3-2222-4444-9999-7fcf39a3ff97",
      "name": "Fetch Raw Messages",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        600,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "let reminders = [];\ntry {\n    reminders = $('Fetch Expected Reminders').all();\n} catch (e) {}\n\nlet processedData = [];\ntry {\n    processedData = $('Fetch Processed Data').all();\n} catch (e) {}\n\nlet rawMessages = [];\ntry {\n    rawMessages = $('Fetch Raw Messages').all();\n} catch (e) {}\n\nfunction normalize(str) {\n    if (!str) return \"\";\n    return str.toLowerCase().replace(/[^a-z0-9]/g, \"\");\n}\n\nconst outItems = [];\n\nfor (const item of reminders) {\n    const r = item.json;\n    if (!r.report_types) continue;\n    \n    const expectedList = r.report_types.split(',').map(s => s.trim()).filter(Boolean);\n    if (expectedList.length === 0) continue;\n    \n    const assignees = (r.person_phone || \"\").split(',').map(p => p.trim()).filter(Boolean);\n    const assigneeCleanPhones = assignees.map(phone => {\n        let clean = phone.replace(/[^0-9]/g, \"\");\n        if (clean.startsWith(\"0\")) clean = clean.substring(1);\n        if (clean.length === 10) clean = \"91\" + clean;\n        return clean;\n    });\n    \n    const whatsappGroupId = r.whatsapp_group_id ? r.whatsapp_group_id.trim() : null;\n    const missingReports = [];\n    \n    for (const report of expectedList) {\n        let submitted = false;\n        const rLower = report.toLowerCase();\n        let stdCategories = [];\n        if (rLower.includes(\"production\")) {\n            stdCategories = ['production', 'egg_collection', 'egg_collection_1', 'egg_collection_2', 'egg'];\n        } else if (rLower.includes(\"feed\")) {\n            stdCategories = ['feed', 'raw_material'];\n        } else if (rLower.includes(\"expense\") || rLower.includes(\"expenditure\")) {\n            stdCategories = ['expense', 'medicine', 'purchase'];\n        } else if (rLower.includes(\"sale\")) {\n            stdCategories = ['sales'];\n        } else if (rLower.includes(\"profit\") || rLower.includes(\"p&l\") || rLower.includes(\"p and l\")) {\n            stdCategories = ['sales', 'expense', 'purchase'];\n        }\n        \n        for (const pRow of processedData) {\n            const p = pRow.json;\n            const isFromAssignee = assigneeCleanPhones.some(phone => p.sender && p.sender.includes(phone));\n            const isFromGroup = whatsappGroupId && p.group_name && p.group_name === whatsappGroupId;\n            \n            if (isFromAssignee || isFromGroup) {\n                if (stdCategories.length > 0 && stdCategories.includes(p.category)) {\n                    submitted = true;\n                    break;\n                }\n                const normExpected = normalize(report);\n                const normNotes = normalize(p.notes);\n                if (normExpected && normNotes && normNotes.includes(normExpected)) {\n                    submitted = true;\n                    break;\n                }\n            }\n        }\n        \n        if (submitted) continue;\n        \n        for (const mRow of rawMessages) {\n            const m = mRow.json;\n            const isFromAssignee = assigneeCleanPhones.some(phone => m.sender && m.sender.includes(phone));\n            const isFromGroup = whatsappGroupId && m.group_name && m.group_name === whatsappGroupId;\n            \n            if (isFromAssignee || isFromGroup) {\n                const normExpected = normalize(report);\n                const normRawText = normalize(m.raw_text);\n                if (normExpected && normRawText && normRawText.includes(normExpected)) {\n                    submitted = true;\n                    break;\n                }\n            }\n        }\n        \n        if (!submitted) {\n            missingReports.push(report);\n        }\n    }\n    \n    let messageText = \"\";\n    let chatId = \"\";\n    if (whatsappGroupId) {\n        chatId = whatsappGroupId;\n    } else if (assignees.length > 0) {\n        let clean = assignees[0].replace(/[^0-9]/g, \"\");\n        if (clean.startsWith(\"0\")) clean = clean.substring(1);\n        if (clean.length === 10) clean = \"91\" + clean;\n        chatId = clean + \"@c.us\";\n    }\n    \n    if (chatId) {\n        if (missingReports.length > 0) {\n            messageText = \"⏰ Sunfra Farms Reminder\\n\\nPlease submit today's feed, production & Profit & Loss Report so the daily records and reports can be completed accurately.\\n\\nThank you! 🌱\";\n            outItems.push({\n                json: {\n                    chatId: chatId,\n                    message: messageText,\n                    status: \"missing\"\n                }\n            });\n        } else {\n            messageText = \"Daily Report Submission Check:\\n\\nAll required reports have been submitted successfully today! ✅\";\n            outItems.push({\n                json: {\n                    chatId: chatId,\n                    message: messageText,\n                    status: \"complete\"\n                }\n            });\n        }\n    }\n}\n\nreturn outItems;"
      },
      "id": "8a3cd792-3333-4444-aaaa-7fcf39a3ff98",
      "name": "Intelligent Matcher",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://waha:3000/api/sendText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Api-Key",
              "value": "123"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chatId: $json.chatId, text: $json.message, session: 'default' }) }}"
      },
      "id": "f51ae8e3-4444-5555-bbbb-7fcf39a3ff99",
      "name": "Send WhatsApp Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1100,
        280
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Expected Reminders",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Processed Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Raw Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Expected Reminders": {
      "main": [
        [
          {
            "node": "Intelligent Matcher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Processed Data": {
      "main": [
        [
          {
            "node": "Intelligent Matcher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Raw Messages": {
      "main": [
        [
          {
            "node": "Intelligent Matcher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intelligent Matcher": {
      "main": [
        [
          {
            "node": "Send WhatsApp Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
